* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.board {
    display: flex;
    flex-flow: row wrap;
    border: 0.5px solid black;
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid;
    box-sizing: border-box;
    flex: 1 0 0;
    min-width: 33.3%;
    min-height: 33.3%;
    font-size: 50px;
}

.reset {
    display: block;
    margin: 20px auto;
    width: 5rem;
    height: 2rem;
}

h1 {
    width: 50%;
    text-align: center;
    margin: 20px auto;
}

.victor-display {
    margin: 10px auto;
    text-align: center;
}

select {
    display: block;
    margin: 10px auto;
}